# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [4]:
data_science_languages = ["R", "Python", "SQL"]

print("Commonly Used Languages for Data Science:")
for i, language in enumerate(data_science_languages, start=1):
    print(f"{i}. {language}")

Commonly Used Languages for Data Science:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

In [6]:
data_science_libraries = ["NumPy", "Matplotlib", "Pandas"]

print("Commonly Used Libraries for Data Science:")
for i, language in enumerate(data_science_libraries, start=1):
        print(f"{i}. {language}")

Commonly Used Libraries for Data Science:
1. NumPy
2. Matplotlib
3. Pandas

In [10]:
import pandas as pd

data = {"Data Science Tools": ["Jupyter Notebook", "RStudio", "Apache Zeppelin"]}

df = pd.DataFrame(data)

df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2    Apache Zeppelin

### Below are a few examples of evalutating arithmetic expressions in Python.

In [13]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- Understand basic functions and purpose of RStudio and GitHub
- Learn how to use Jupyter Notebook
- Get familiar with common data science languages like R, Python and SQL

## Author
Joshua Bell